absl-py==2.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
anifetch-cli==1.0.6
apparmor==4.1.7
arandr==0.1.11
astor==0.8.1
astunparse==1.6.3
attrs==26.1.0
autocommand==2.2.2
bcc==0.36.1
bcrypt==5.0.0
bleach==6.4.0
blinker==1.9.0
breezy==3.3.21
brotli==1.2.0
btrfsutil==7.1
build==1.4.3
cachetools==7.1.7
caelestia==1.1.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.7
click==8.3.3
colorthief==0.2.1
colorz==1.0.3
ConfigArgParse==1.7.5
configobj==5.0.9
contourpy==1.3.3
cryptography==50.0.0
cssselect2==0.9.0
cycler==0.12.1
Cython==3.2.9
dbus-fast==5.0.22
dbus-python==1.4.0
distlib==0.4.3
distro==1.9.0
docopt==0.6.2
dulwich==1.1.0
EasyProcess==1.1
editables==0.6
entrypoint2==1.1
evdev==1.9.3
fastbencode==0.3.10
fido2==2.2.1
filelock==3.29.3
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.63.0
frozenlist==1.8.0
gast==0.7.0
gevent==26.8.0
gevent-eventemitter==2.1
gi-docgen==2026.1
google-pasta==0.2.0
gps==3.27.5
greenlet==3.5.1
grpcio==1.83.0
grpcio-tools==1.83.0
gufw==26.4.0
h11==0.16.0
h5py==3.16.0
haishoku==1.1.8
hatch==1.17.0
hatch-vcs==0.5.0
hatchling==1.30.1
httpcore2==2.3.0
httpx2==2.3.0
hyperlink==21.0.0
hyprland-config==0.9.10
hyprland-monitors==0.8.0
hyprland-schema==0.6.3
hyprland-socket==0.12.2
hyprland-state==0.4.3
hyprmod==0.4.0
idna==3.18
importlib_metadata==9.0.0
iniconfig==2.3.0
inputs==0.5
installer==1.0.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.15.1
keyring==25.7.0
kiwisolver==1.5.0
legacy-cgi==2.6.4
lensfun==0.3.4
LibAppArmor==4.1.7
libtorrent==2.1.1
lit==22.1.8.dev0
louis==3.38.0
lxml==6.1.1
Mako==1.3.12.dev0
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
materialyoucolor==3.0.2
matplotlib==3.11.1
mdurl==0.1.2
mediapipe==0.10.32
mercurial==7.2.4
merge3==0.0.16
meson==1.12.0
ml_dtypes==0.5.4
more-itertools==11.1.0
mss==10.2.0
multidict==6.7.1
netifaces==0.11.0
nftables==0.1
numpy==2.5.2
oauthlib==3.3.1
openrgb-python==0.3.6
opt_einsum==3.4.0
optree==0.19.1
packaging==26.3
pandas==2.3.3
pathspec==1.1.1
patiencediff==0.2.19
peewee==4.0.4
pexpect==4.9.0
pillow==12.3.0
pkg_resources==81.0.0
platformdirs==4.11.2
pluggy==1.6.0
pooch==1.9.0
propcache==0.4.1
protobuf==7.35.1
proton-core==0.7.0
proton-keyring-linux==0.2.2
proton-vpn-api-core==5.2.5
proton-vpn-daemon==0.13.7
proton-vpn-gtk-app==4.16.5
protontricks==1.14.1
ProtonUp-Qt==2.15.1
psutil==7.2.2
ptyprocess==0.7.0
pulsemixer==1.5.1
pyaml==26.7.0
pyautogui @ file:///home/koulmoir/pyautogui
pybind11==3.1.0
pycairo==1.29.1
pycparser==3.0
pycryptodomex==3.23.0
pydot==4.0.1
pydyf==0.12.1
Pygments==2.20.0
PyGObject==3.56.3
PyNaCl==1.6.2
pynput==1.8.2
pyOpenSSL==26.4.0
pyparsing==3.3.2
pyphen==0.17.2
pyproject_hooks==1.2.0
pyscreenshot==3.1
PyScreeze==1.0.1
pyserial==3.5
PySide6==6.11.1
pytest==9.0.3
python-dateutil==2.9.0
python-discovery==1.5.1
python-gnupg==0.5.6
python-magic==0.4.27
python-xlib==0.33
python-ydotool==1.1.1
pytweening==1.2.0
pytz==2026.1
pywal==3.3.0
pyxdg==0.28
PyYAML==6.0.3
ranger-fm==1.9.4
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.34.2
rich==15.0.0
rofimoji==6.7.0
rpds-py==2026.6.3
scipy==1.18.0
SecretStorage==3.5.0
sentry-sdk==2.66.1
setproctitle==1.3.7
setuptools==84.0.0
setuptools-scm==10.2.1
shellingham==1.5.4
shiboken6==6.11.1
six==1.17.0
smartypants==2.0.2
smbus==1.1
sounddevice==0.5.5
sqlite-web==0.7.2
steam==2.0.0a1
TBB @ file:///build/onetbb/src/build/python/python_build
tensorboard==2.21.0
tensorboard_data_server==0.8.0a0
tensorflow_cpu==2.21.0
termcolor==3.3.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli_w==1.2.0
tomlkit==0.15.1
tqdm==4.70.0
trash-cli==0.24.5.26
trove-classifiers==2026.6.1.19
truststore==0.10.4
typing_extensions==4.16.0
typogrify==2.1.0
ueberzug==18.3.2
ufw==0.36.2
urllib3==2.7.0
userpath==1.9.2
uv==0.12.5
validate==5.0.9
VapourSynth==77
vcrpy==8.3.0
vcs-versioning==2.2.4
vdf==4.0
vici==6.0.7
virtualenv==21.7.4
wayland_automation==0.2.8
wcwidth==0.8.2
weasyprint==69.0
webencodings==0.5.1
Werkzeug==3.1.8
wheel==0.48.0
wrapt==2.3.0
wsproto==1.3.2
yarl==1.23.0
yt-dlp==2026.7.4
yt-dlp-ejs==0.8.0
zipp==3.21.0
zope.event==6.2
zope.interface==8.5
zopfli==0.4.3
zstandard==0.25.0
